<div id="header">
    <h1>Header</h1>
    <div class="row bg-blue-500 p-5">
        <div class="col-sm-12 col-md-3">
            <button routerLink="/" class="bg-green-500 w-50 h-30"><a routerLink="/">Homepage</a></button>
        </div>
        <div class="col-sm-12 col-md-3">
            <button routerLink="/about" class="bg-green-500 w-50 h-30"><a routerLink="/about">About</a></button>
        </div>
        <div class="col-sm-12 col-md-3">
            <button routerLink="/login" class="bg-green-500 w-50 h-30"><a routerLink="/login">Login</a></button>
        </div>
        <div class="col-sm-12 col-md-3">
            <button routerLink="/profile" class="bg-green-500 w-50 h-30"><a routerLink="/profile">Profile</a></button>
        </div>
    </div>
</div>
