<nav class="navbar navbar-expand-md" id="header">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Poker Calculator</a>

    <button
      class="navbar-toggler custom-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      aria-controls="navbarSupportedContent"
      [attr.aria-expanded]="!isCollapsed"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [collapse]="isCollapsed">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>